* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  letter-spacing: 1px;
  font-family: "Wallpoet", cursive;
}

.clock {
  display: flex;
  border: 20px solid black;
  padding: 10px 20px;
}

.digits {
  font-size: 4rem;
}
